<form class="well" (submit)="addtrack($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="name" name="title" class="form-control" placeholder="Add tracks...">
    </div>
 <input type="submit" value="value">
</form>

<div class="task-list">
    <div *ngFor="let track of tracks">
        
        <div class="col-md-1">
            {{track.title}}
        </div>
        <div class="col-md-1">
    {{track.ratings}}
        </div>
        <div class="col-md-1">
            {{track.genres}}
        </div>
        <div class="col-md-7">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
        </div>
        <br>
        <br>
    </div>
</div>
